[submodule "modules/subversion"]
	path = modules/subversion
	url = git@github.com:mattbowen/puppet-subversion.git
[submodule "modules/redis"]
	path = modules/redis
	url = https://github.com/puppetmodules/puppet-module-redis.git
[submodule "modules/python"]
	path = modules/python
	url = https://github.com/puppetmodules/puppet-module-python.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git://github.com/mattbowen/puppet-module-postgresql.git
